<div class="sub_page">
  <div class="hero_area">
    <!-- header section starts -->
    <app-header></app-header>
    <!-- end header section -->
  </div>

  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <div class="heading_container">
              <h2>Add new Trek</h2>
            </div>
            <form action="" [formGroup]="newTrekForm" (ngSubmit)="addTrek()">
              <div>
                <input type="text" placeholder="Trek Name " formControlName="name"/>
              </div>
              <div>
                <input type="text" placeholder="Trek Description" formControlName="description"/>
              </div>
              <div>
                <input type="text" placeholder="Trek Location" formControlName="location"/>
              </div>
              <div>
                <input type="text" placeholder="Trek Length" formControlName="length"/>
              </div>
              <div>
                <input type="text" placeholder="Trek Image URL" formControlName="image"/>
              </div>
              <div class="d-flex">
                <button type="submit">ADD</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img class="sml-img" src="../../../assets/img/1.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->

  <app-footer></app-footer>
</div>
