backend/.idea/backend.iml
backend/auth/__pycache__
backend/.idea/inspectionProfiles/profiles_settings.xml
__pycache__
.backend\treks\__pycache__
.__pycache__
backend/.idea
backend/.idea/misc.xml
backend/.idea/modules.xml
