<div class="sub_page">
  <div class="hero_area">
    <!-- header section starts -->
    <app-header></app-header>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-5">
          <div class="img-box">
            <img src="../../../assets/img/selfie.jpeg" alt="" />
          </div>
        </div>
        <div class="col-md-6 col-lg-7">
          <div class="detail-box">
            <div class="heading_container">
              <h2>About Me</h2>
            </div>
            <p>
              I am very happy to finish my B Sc. of Computer science degree at
              Ashkelon College. During my studies many professors helped and
              supported me and it really paid off. I gained a lot of experience
              and knowledge in the field of computers and I am already looking
              forward to working in the field I have gained. <br />
              Thanks to everyone who was there and helped me!
            </p>
            <a href=""> Read More </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
  <hr />

 <app-footer></app-footer>
</div>
